@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bg-glass {
    background-color: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(10px);
  }
  .bg-clear {
    background: linear-gradient(
      135deg,
      hsla(56, 100%, 69%, 1) 0%,
      hsla(69, 75%, 75%, 1) 11%,
      hsla(186, 50%, 72%, 1) 39%,
      hsla(197, 100%, 56%, 1) 70%
    );
  }
  .bg-clouds {
    background: linear-gradient(
      180deg,
      rgb(91, 91, 91) 0%,
      rgba(0, 118, 112, 0.725) 100%
    );
  }
  .bg-haze {
    background: linear-gradient(
      225deg,
      hsla(0, 0%, 52%, 1) 31%,
      hsla(177, 100%, 29%, 1) 65%
    );
  }
  .bg-rain {
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 22%, 1) 13%,
      hsla(178, 20%, 24%, 1) 35%,
      hsla(177, 100%, 29%, 1) 100%
    );
  }
  .bg-fog {
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 91%, 1) 15%,
      hsla(178, 100%, 68%, 1) 100%
    );
  }
  .bg-mist {
    background: linear-gradient(
      225deg,
      hsla(0, 0%, 52%, 1) 31%,
      hsla(177, 100%, 29%, 1) 65%
    );
  }
}
